/*****************************************
  Media Queries
*****************************************/

@media screen and (max-width: 500px) {
  body {
    font-size: 13px;
  }
  .main-header {
    padding:2em 1.5em;
    svg {
      top:84px;
    }
    h2 {
      font-size:0;
    }
  }
  .main-content {
    padding:1.5em;
    padding-top:0;
    top:6em;
  }
  .container {
    padding:2em;
  }
  .lightbox {
    .modal {
      padding:2em;
      margin:2em;
    }
  }

}
