/*****************************************
  Media Queries
*****************************************/

@media screen and (max-width: 500px) {
  body {
    font-size: 13px;
  }
  .main-header {
    padding:0 2em 1.5em;
    min-height: 24em;
    svg {
      top:84px;
    }
    h2 {
      font-size:0;
    }
    nav {
      h1 {
        background:white;
        color:$logoColor;
        padding:0;
        transform:translateY(0);
      }
    }
  }
  .main-content, .main-content.hero {
    padding:1.5em;
    padding-top:0;
    top:8em;
  }
  .container {
    padding:2em;
  }
  .main-content.hero {
    .container {
      padding:4em 3em;
    }
  }
  .lightbox {
    .modal {
      padding:2em;
      margin:2em;
    }
  }

}
