/************************************
  Variables
************************************/

////////////
// COLORS //
////////////
$white: #FCE4EC;
$pink: #ff2aa6;

$faintPink: #F06292;



$blue:#02bffd;
$lightBlue:#60d8ff;
$faintBlue: #E3F2FD;
$faintestBlue: #f5fafe;

$purple: #673AB7;

$textColor:#263238;

$accentColor: $purple;

$logoColor: $pink;

$mainColor: $blue;

////////////
// TYPE ///
///////////

$font: "Lato", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, san-serif;

$lineHeight: 1.5;
$fontSize: 16px;
