doctype
html(ng-app="app")
  head
    link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js")
    script(src="js/controller.js")
    title PopLibs
  body.fadeIn(ng-controller="appCtrl", ng-class='{"stuck":show}')
    != yield
