
.main-header
  h1 Poplibs.
  h2 Madlibs on the internet.
  button(ng-click="randomLib()") Next Poplib

.main-content(ng-show='poplib==1')
  .container
    h4 Buddy Cops!
    .input-group
      label Full Name for a guy
      .input
        input(type="text", ng-model="name1")
    .input-group
      label Number
      .input
        input(type="text", ng-model="number")
    .input-group
      label Full Name for a different guy
      .input
        input(type="text", ng-model="name2")
    .input-group
      label Type of Girl Relative (Mother, sister, etc)
      .input
        input(type="text", ng-model="relative")
    .input-group
      label A way to die (past tense)
      .input
        input(type="text", ng-model="death")
    .input-group
      label Noun (singular)
      .input
        input(type="text", ng-model="noun")
    .input-group
      label A nickname for a guy
      .input
        input(type="text", ng-model="nickname")
    button(ng-click="show=!show") Read Story
    
.main-content(ng-show='poplib==2')
  .container
    h4 Hackers!
    .input-group
      label Boy's Name
      .input
        input(type="text", ng-model="name1")
    .input-group
      label Sweet Hacker Alias
      .input
        input(type="text", ng-model="codeName")
    .input-group
      label Another Sweet Hacker Alias
      .input
        input(type="text", ng-model="codeName2")
    .input-group
      label Thing you'd want to steal (plural)
      .input
        input(type="text", ng-model="thingToSteal")
    .input-group
      label Number
      .input
        input(type="text", ng-model="number")
    .input-group
      label A Lame Company
      .input
        input(type="text", ng-model="company")
    
    button(ng-click="show = !show") Read Story
    
.main-content(ng-show='poplib==3')
  .container
    h4 Zombies!
    .input-group
      label A Type of Relative
      .input
        input(type="text", ng-model="relative")
    .input-group
      label Town or City
      .input
        input(type="text", ng-model="town")
    .input-group
      label Adjective
      .input
        input(type="text", ng-model="adjective")
    .input-group
      label Job
      .input
        input(type="text", ng-model="job")
    .input-group
      label A place you'd want to go during a zombie apocalypse
      .input
        input(type="text", ng-model="place")
    .input-group
      label Another job (plural)
      .input
        input(type="text", ng-model="people")
    
    button(ng-click="show = !show") Read Story
    
.main-content(ng-show='poplib==4')
  .container
    h4 Aliens!
    .input-group
      label Adjective
      .input
        input(type="text", ng-model="adjective")
    .input-group
      label Another Adjective
      .input
        input(type="text", ng-model="adjective2")
    .input-group
      label Place
      .input
        input(type="text", ng-model="place")
    .input-group
      label A Huge Mission to Accomplish
      .input
        input(type="text", ng-model="mission")
    .input-group
      label Noun
      .input
        input(type="text", ng-model="noun")
    
    button(ng-click="show = !show") Read Story
    
.main-content(ng-show='poplib==5')
  .container
    h4 Slasher!
    .input-group
      label Adjective
      .input
        input(type="text", ng-model="adjective")
    .input-group
      label Another Adjective
      .input
        input(type="text", ng-model="adjective2")
    .input-group
      label Place
      .input
        input(type="text", ng-model="place")
    .input-group
      label Guy's Name
      .input
        input(type="text", ng-model="name")
    .input-group
      label Noun
      .input
        input(type="text", ng-model="noun")
    .input-group
      label Another Noun
      .input
        input(type="text", ng-model="noun2")
    .input-group
      label Verb
      .input
        input(type="text", ng-model="verb")
    .input-group
      label A Type of Relative
      .input
        input(type="text", ng-model="relative")
    
    button(ng-click="show = !show") Read Story
    
        
.main-content(ng-show='poplib==6')
  .container
    h4 Frozen!
    .input-group
      label Adjective
      .input
        input(type="text", ng-model="adjective")
    .input-group
      label Another Adjective
      .input
        input(type="text", ng-model="adjective2")
    .input-group
      label One more Adjective
      .input
        input(type="text", ng-model="adjective3")
    .input-group
      label Animal
      .input
        input(type="text", ng-model="animal")
    .input-group
      label A type of Monster (plural)
      .input
        input(type="text", ng-model="monster")
    .input-group
      label Job
      .input
        input(type="text", ng-model="job")
    
    
    
    button(ng-click="show = !show") Read Story
.lightbox(ng-show='show')
  .modal
    p.lead(ng-show="poplib==1")
      span.capitalize {{name1}}&nbsp;
      | has just turned {{number | number}}, and only has a few more years to go before he 
      | retires from the Los Angeles Police Department. {{name2}} has just lost his {{relative}} when she was {{death}}, 
      | and doesn't care if he lives or dies. When they are paired together, {{name1}} has 
      | problems with {{name2}}'s suicidal attitude towards work, as they investigate a {{noun}} baron dubbed "{{nickname}}".
    p.lead(ng-show='poplib==2')
      | A teenage hacker finds himself framed for the theft of {{thingToSteal}} from a major corporation. 
      | Master hacker {{name1}}, aka {{codeName}}, aka {{codeName2}}, has been banned from touching a keyboard 
      | for {{number | number}} years after crashing over 1,500 {{company}} computers at the age of 11. Now keen to get back in 
      | front of a monitor, he finds himself in more trouble than ever.
    p.lead(ng-show='poplib==3')
      | When her {{relative}} is turned into a zombie and attacks her, Ana just manages to escape, 
      | only to realize her entire {{town}} neighborhood has been overrun by the walking dead. After being 
      | questioned by {{adjective}} {{job}} Kenneth, Ana joins him and a small group that gravitates 
      | to the {{place}} as a bastion of safety. Once they convince suspicious {{people}} that 
      | they are not contaminated, the group bands together to fight the undead hordes.
    p.lead(ng-show='poplib==4')
      | In this {{adjective}} adventure, {{adjective2}} phenomena surface around the globe. The skies ignite. 
      | Terror races through the world's {{place}}. As these extraordinary events unfold, it becomes increasingly clear 
      | that a force of incredible magnitude has arrived; its mission: {{mission}} over the Fourth of July weekend. 
      | The last hope to stop the destruction is an unlikely group of {{noun}} united by fate and unimaginable circumstances.
    p.lead(ng-show='poplib==5')
      | Against the advice of locals and police, {{name}} scours the eerie {{place}} 
      | surrounding Crystal Lake for his missing {{relative}}. But the {{adjective}} {{noun}} of an abandoned summer camp are 
      | not the only things he finds. {{adjective2}} killer Jason Voorhees lies in wait for a chance to use his 
      | razor-sharp {{noun2}} on {{name}} and the group of college students who have come to the forest to {{verb}}.
    p.lead(ng-show='poplib==6')
      | When their kingdom becomes trapped in perpetual winter, {{adjective}} Anna joins forces with 
      | {{job}} Kristoff and his {{animal}} sidekick to find Anna's sister, Snow Queen Elsa, 
      | and break her icy spell. Although their epic journey leads them to encounters with {{adjective3}} 
      | {{monster}}, a {{adjective2}} snowman, harsh conditions, and magic at every turn, Anna and 
      | Kristoff bravely push onward in a race to save their kingdom from winter's cold grip.
    button(ng-click="newLib()") Do Another
    button(ng-click="redoLib()") Redo This One
