
.main-header(ng-class='{"hero":poplib==0}')

  h1 Poplibs.
  
  button(ng-click="randomLib()", ng-hide="poplib==0") Next Poplib
  


.main-content.hero(ng-show='poplib==0')
  
  .container
    
    p.lead Madlibs on the internet.
      
    p.sublead We ask you for some words, you get a funny little story.
    button(ng-click="randomLib()") Write a Poplib
    
  
    
.main-content(ng-show='poplib==1')
  .container
    h4 Buddy Cops!
  .container
    .input-group
      label Full Name for a guy
      .input
        input(type="text", ng-model="name1")
    .input-group
      label Number
      .input
        input(type="text", ng-model="number")
    .input-group
      label Full Name for a different guy
      .input
        input(type="text", ng-model="name2")
    .input-group
      label Type of Girl Relative (Mother, sister, etc)
      .input
        input(type="text", ng-model="relative")
    .input-group
      label A way to die (past tense)
      .input
        input(type="text", ng-model="death")
    .input-group
      label Noun (singular)
      .input
        input(type="text", ng-model="noun")
    .input-group
      label A nickname for a guy
      .input
        input(type="text", ng-model="nickname")
    button(ng-click="show=!show") Read Story
    
.main-content(ng-show='poplib==2')
  .container
    h4 Hackers!
  .container
    
    .input-group
      label Boy's Name
      .input
        input(type="text", ng-model="name1")
    .input-group
      label Sweet Hacker Alias
      .input
        input(type="text", ng-model="codeName")
    .input-group
      label Another Sweet Hacker Alias
      .input
        input(type="text", ng-model="codeName2")
    .input-group
      label Thing you'd want to steal (plural)
      .input
        input(type="text", ng-model="thingToSteal")
    .input-group
      label Number
      .input
        input(type="text", ng-model="number")
    .input-group
      label A Lame Company
      .input
        input(type="text", ng-model="company")
    
    button(ng-click="show = !show") Read Story
    
.main-content(ng-show='poplib==3')
  .container
    h4 Zombies!
  .container
    
    .input-group
      label A Type of Relative
      .input
        input(type="text", ng-model="relative")
    .input-group
      label Town or City
      .input
        input(type="text", ng-model="town")
    .input-group
      label Adjective
      .input
        input(type="text", ng-model="adjective")
    .input-group
      label Job
      .input
        input(type="text", ng-model="job")
    .input-group
      label A place you'd want to go during a zombie apocalypse
      .input
        input(type="text", ng-model="place")
    .input-group
      label Another job (plural)
      .input
        input(type="text", ng-model="people")
    
    button(ng-click="show = !show") Read Story
    
.main-content(ng-show='poplib==4')
  .container
    h4 Aliens!
  .container
    
    .input-group
      label Adjective
      .input
        input(type="text", ng-model="adjective")
    .input-group
      label Another Adjective
      .input
        input(type="text", ng-model="adjective2")
    .input-group
      label Place
      .input
        input(type="text", ng-model="place")
    .input-group
      label A Huge Mission to Accomplish
      .input
        input(type="text", ng-model="mission")
    .input-group
      label Noun
      .input
        input(type="text", ng-model="noun")
    
    button(ng-click="show = !show") Read Story
    
.main-content(ng-show='poplib==5')
  .container
    h4 Slasher!
  .container
    
    .input-group
      label Adjective
      .input
        input(type="text", ng-model="adjective")
    .input-group
      label Another Adjective
      .input
        input(type="text", ng-model="adjective2")
    .input-group
      label Place
      .input
        input(type="text", ng-model="place")
    .input-group
      label Guy's Name
      .input
        input(type="text", ng-model="name")
    .input-group
      label Noun
      .input
        input(type="text", ng-model="noun")
    .input-group
      label Another Noun
      .input
        input(type="text", ng-model="noun2")
    .input-group
      label Verb
      .input
        input(type="text", ng-model="verb")
    .input-group
      label A Type of Relative
      .input
        input(type="text", ng-model="relative")
    
    button(ng-click="show = !show") Read Story
    
        
.main-content(ng-show='poplib==6')
  .container
    h4 Frozen!
  .container
    .input-group
      label Adjective
      .input
        input(type="text", ng-model="adjective")
    .input-group
      label Another Adjective
      .input
        input(type="text", ng-model="adjective2")
    .input-group
      label One more Adjective
      .input
        input(type="text", ng-model="adjective3")
    .input-group
      label Animal
      .input
        input(type="text", ng-model="animal")
    .input-group
      label A type of Monster (plural)
      .input
        input(type="text", ng-model="monster")
    .input-group
      label Job
      .input
        input(type="text", ng-model="job")
    
    
    
    button(ng-click="show = !show") Read Story
.main-content(ng-show='poplib==7')
  .container
    h4 Sea Quest!
  .container
    .input-group
      label Adjective
      .input
        input(type="text", ng-model="adjective")
    .input-group
      label Another Adjective
      .input
        input(type="text", ng-model="adjective2")
    .input-group
      label A girl's name
      .input
        input(type="text", ng-model="name")
    .input-group
      label A boy's name
      .input
        input(type="text", ng-model="name2")
    .input-group
      label A type of Monster (plural)
      .input
        input(type="text", ng-model="monster")
    .input-group
      label Job
      .input
        input(type="text", ng-model="job")
    .input-group
      label Noun
      .input
        input(type="text", ng-model="noun")

    
    
    button(ng-click="show = !show") Read Story
.main-content(ng-show='poplib==8')
  .container
    h4 Epic Quest!
  .container
    
    .input-group
      label An Evil, Mythical Object
      .input
        input(type="text", ng-model="noun")
    .input-group
      label A Mythical Creature
      .input
        input(type="text", ng-model="monster")
    .input-group
      label The Mythical Creature's Name
      .input
        input(type="text", ng-model="name")
    .input-group
      label An Awesome Nickname
      .input
        input(type="text", ng-model="name2")
    .input-group
      label Noun
      .input
        input(type="text", ng-model="noun2")
    
    button(ng-click="show = !show") Read Story
  
.main-content(ng-show='poplib==9')
  .container
    h4 Space Quest!
  .container
    .input-group
      label Adjective
      .input
        input(type="text", ng-model="adjective")
    .input-group
      label Name
      .input
        input(type="text", ng-model="name")
    .input-group
      label A girl's name
      .input
        input(type="text", ng-model="name2")
    .input-group
      label A boy's name
      .input
        input(type="text", ng-model="name3")
    .input-group
      label Another boy's name
      .input
        input(type="text", ng-model="name4")
    .input-group
      label Name of a space ship
      .input
        input(type="text", ng-model="ship")
    .input-group
      label Name for a robot
      .input
        input(type="text", ng-model="name5")
    .input-group
      label Another Name for a robot
      .input
        input(type="text", ng-model="name6")
    
    button(ng-click="show = !show") Read Story
    
.main-content(ng-show='poplib==10')
  .container
    h4 Mermaids!
  .container
    .input-group
      label Adjective
      .input
        input(type="text", ng-model="adjective")
    .input-group
      label A girl's name
      .input
        input(type="text", ng-model="name")
    .input-group
      label A boy's name
      .input
        input(type="text", ng-model="name2")
    .input-group
      label Another girl's name
      .input
        input(type="text", ng-model="name3")
    .input-group
      label Job
      .input
        input(type="text", ng-model="job")
    .input-group
      label Noun (Plural)
      .input
        input(type="text", ng-model="noun")
    
    button(ng-click="show = !show") Read Story
    
    
.lightbox(ng-show='show')
  .modal
    p.lead(ng-show="poplib==1")
      span.capitalize {{name1}}&nbsp;
      | has just turned {{number | number}}, and only has a few more years to go before he 
      | retires from the Los Angeles Police Department. {{name2}} has just lost his {{relative}} when she was {{death}}, 
      | and doesn't care if he lives or dies. When they are paired together, {{name1}} has 
      | problems with {{name2}}'s suicidal attitude towards work, as they investigate a {{noun}} baron dubbed "{{nickname}}".
    p.lead(ng-show='poplib==2')
      | A teenage hacker finds himself framed for the theft of {{thingToSteal}} from a major corporation. 
      | Master hacker {{name1}}, aka {{codeName}}, aka {{codeName2}}, has been banned from touching a keyboard 
      | for {{number | number}} years after crashing over 1,500 {{company}} computers at the age of 11. Now keen to get back in 
      | front of a monitor, he finds himself in more trouble than ever.
    p.lead(ng-show='poplib==3')
      | When her {{relative}} is turned into a zombie and attacks her, Ana just manages to escape, 
      | only to realize her entire {{town}} neighborhood has been overrun by the walking dead. After being 
      | questioned by {{adjective}} {{job}} Kenneth, Ana joins him and a small group that gravitates 
      | to the {{place}} as a bastion of safety. Once they convince suspicious {{people}} that 
      | they are not contaminated, the group bands together to fight the undead hordes.
    p.lead(ng-show='poplib==4')
      | In this {{adjective}} adventure, {{adjective2}} phenomena surface around the globe. The skies ignite. 
      | Terror races through the world's {{place}}. As these extraordinary events unfold, it becomes increasingly clear 
      | that a force of incredible magnitude has arrived; its mission: {{mission}} over the Fourth of July weekend. 
      | The last hope to stop the destruction is an unlikely group of {{noun}} united by fate and unimaginable circumstances.
    p.lead(ng-show='poplib==5')
      | Against the advice of locals and police, {{name}} scours the eerie {{place}} 
      | surrounding Crystal Lake for his missing {{relative}}. But the {{adjective}} {{noun}} of an abandoned summer camp are 
      | not the only things he finds. 
      span.capitalize {{adjective2}} killer Jason Voorhees lies in wait for a chance to use his 
      | razor-sharp {{noun2}} on {{name}} and the group of college students who have come to the forest to {{verb}}.
    p.lead(ng-show='poplib==6')
      | When their kingdom becomes trapped in perpetual winter, {{adjective}} Anna joins forces with 
      | {{job}} Kristoff and his {{animal}} sidekick to find Anna's sister, Snow Queen Elsa, 
      | and break her icy spell. Although their epic journey leads them to encounters with {{adjective3}} 
      | {{monster}}, {{adjective2}} snowmen, harsh conditions, and magic at every turn, Anna and 
      | Kristoff bravely push onward in a race to save their kingdom from winter's cold grip.
    p.lead(ng-show='poplib==7')
      | An adventurous teenager sails out on a daring mission to save her people. During her journey, 
      | {{name}} meets the once-mighty demigod {{name2}}, who guides her in her quest to become a 
      | master {{job}}. Together they sail across the open ocean on an {{adjective}} voyage, 
      | encountering enormous {{monster}} and {{adjective2}} odds. Along the way, {{name}} fulfills 
      | the ancient quest of her ancestors and discovers the one thing she always sought: her {{noun}}.
    p.lead(ng-show='poplib==8')
      | The future of civilization rests in the fate of the {{noun}}, which has been lost for centuries. 
      | Powerful forces are unrelenting in their search for it. But fate has placed it in the hands of 
      | a young {{monster}} named {{name}}, who inherits the {{noun}} and steps into legend. A daunting 
      | task lies ahead for {{name}} when he becomes the {{name2}} - to destroy the {{noun}} in the fires 
      | of Mount {{noun2}} where it was forged.
    p.lead(ng-show='poplib==9')
      | The Imperial Forces -- under orders from {{adjective}} {{name}} -- hold Princess {{name2}} hostage, in their 
      | efforts to quell the rebellion against the Galactic Empire. {{name3}} and {{name4}}, captain of the 
      | {{ship}}, work together with the companionable droid duo {{name5}} and {{name6}} to rescue the 
      | beautiful princess, help the Rebel Alliance, and restore freedom and justice to the Galaxy.
    p.lead(ng-show='poplib==10')
      | Rebellious 16-year-old mermaid {{name}} is fascinated with {{noun}} on land. On one of her 
      | visits to the surface, which are forbidden by her {{adjective}} father, King {{name2}}, she falls for a 
      | human {{job}}. Determined to be with her new love, {{name}} makes a dangerous deal with the sea witch 
      | {{name3}} to become human for three days. But when plans go awry for the star-crossed lovers, 
      | the king must make the ultimate sacrifice for his daughter.
    button(ng-click="newLib()") Do Another
    button(ng-click="redoLib()") Redo This One
